@font-face
{
	font-family: 'Poppins-Medium';
	src: url('../fonts/Poppins-Medium.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face
{
	font-family: 'Poppins-Regular';
	src: url('../fonts/Poppins-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

:root
{
	--navHeight:  140px;
	--textSize: calc(0.75em + 1vmin);
	
	--modalFormBg: white;
	--colorWhite1: white;
	--colorWhite2: #e4e4e7;
	--colorWhite3: #cacace;
	--colorWhite4: #afafb6;

	--colorOverlay1: rgba(12,12,13,0.7);
	--colorOverlay2: rgba(12,12,13,0.4);

	--colorBlack1: #323234;
	--colorBlack2: #1c1c1d;
	--colorBlack3: #151516;
	--colorBlack4: #0c0c0d;

	--colorPrincipal: #ffc423;
	--rgbPrincipal:  rgb(247, 148, 29);

	--colorPrLow1: #c79400;
	--colorPrLow2: #fff75d;
	--colorPrLow3: #fff6db;

	--colorSecond: #0f3048;
	--colorScLow1: #000621;
	--colorScLow2: #3d5974;

	--errorColor: #FF3C38;
	--successColor: #06D6A0;

	--quartResponsive: 20%;
	--modalResponsive: 30%;

	--textColor1: white;
	--textColor2: #333333;

	--animationEase: cubic-bezier(.75,.04,.0,.86);

	--bgTransition: background-color 0.8s ease-in-out;

	--colorTransition: color 0.4s ease-in-out;

	--inputHeight:  50px;
	--btnHeight:  45px;

	--bgElement: #f4f7f9;

	--myFont1: 'Poppins-Regular';

	--profilImgNav: calc(var(--textSize) * 2);
	--radiusCircle : 50px;

}
.loaderModalBody
{
	width: 20%;
	height: 20%;
	background: var(--colorPrincipal);
   display: flex;
   justify-content: center;
   align-items: center;
}
.loaderModalBody img
{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
div.contentLoader
{
	width: 100%;
	height: 100%;
	display: none;
	/*justify-content: left;*/
}
div.contentLoader img
{
	width: 100px;
	height: 100%;
	object-fit: cover;
}

html,body
{
	padding: 0;
	margin: 0;
}
ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a
{
	text-decoration: none;
	font-family: 'Poppins-Regular';
}
label	
{
	cursor: pointer;
}
i
{
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
p{ font-size: var(--textSize); }
h1{ font-size: calc(var(--textSize) * 2); }
h2{ font-size: calc(var(--textSize) * 1.8); }
h3{ font-size: calc(var(--textSize) * 1.6); }
h4{ font-size: calc(var(--textSize) * 1.4); }
h5{ font-size: calc(var(--textSize) * 1.2); }
h6{ font-size: calc(var(--textSize) * 1); }

h1,h2,h3,h4,h5,h6
{
	margin: 0;
	padding: 0;
}
input,select
{
	font-family: 'Poppins-Regular';
	border: none;
	padding: 0 var(--inputPadding);
	height: var(--inputHeight);
	box-sizing: border-box;
	font-size: var(--textSize);
}
input:focus,textarea:focus
{
	outline:none!important;
}
textarea
{
	font-family: 'Poppins-Regular';
	border: none;
	padding: 0 var(--inputPadding);
	box-sizing: border-box;
	font-size: var(--textSize);
}
span.inputInfo
{
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--inputHeight);
	width: 10%;
	font-size: var(--iconSize);
	color: var(--colorPrincipal);
}
button
{
	background-color: var(--colorPrincipal);
	font-family: 'Poppins-Regular';
	padding: 0 35px;
	height: var(--btnHeight);
	border: 0;
	cursor: pointer;
	font-size: var(--textSize);
	box-sizing: border-box;
	/*box-shadow: var(--rgbPrincipal1) 0px 0px 0px 3px, var(--rgbPrincipal2) 0px 0px 0px 6px;*/
}
button.sNav
{
	background-color: transparent !important;
	color: var(--colorWhite4);
	cursor: pointer;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
button.sNav i
{
	font-size: var(--titleTextSize);
}
input[type="number"]
{
	cursor: pointer;
}
body
{
	animation: pageFade 2s 1;
	-webkit-animation: pageFade 2s 1; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: pageFade 2s 1; /* Firefox < 16 */
        -ms-animation: pageFade 2s 1; /* Internet Explorer */
         -o-animation: pageFade 2s 1; /* Opera < 12.1 */
            animation: pageFade 2s 1;
}
p
{
	margin: 0;
}
.pageContent
{
	width: 100%;
}
.logoMinImg,.logoImg
{
	width: 100px;
}
.noticeNotExist
{
	color: black;
}
.noticeExist
{
	color: #cc0000;
}
.userLoved
{
	color: #cc0000;
}
.userNotLoved
{
	color: black;
}
.noticeNotFound
{
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}
.noticeNotFound img
{
	height: var(--navHeight);
	object-fit: contain;
}
.noticeColor
{
	background-color: var(--colorPrincipal) !important;
	color: var(--colorWhite1);
}
/*Pour les icone de recherche ,menu ou Authentification*/
.iconOverlay
{
	width: var(--radiusCircle);
	height: var(--radiusCircle);
	border-radius: var(--radiusCircle);
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--bgTransition);
	font-size: calc(var(--textSize) * 1.2);
}
.iconOverlay:hover
{
	background-color: var(--colorWhite2);
}

/*Pour les lien survoler ou cliquer*/
.hoveredLink
{
	color: var(--colorBlack1);
	transition: var(--colorTransition);
}
.hoveredLink:hover
{
	color: var(--colorPrincipal);
}

nav.navbar
{
	width: 100%;
	display: flex;
	flex-direction: column;
}

i.navIcon
{
	/*color: var(--colorWhite3);*/
	margin-right: 5px;
}


div.nfrLast
{
	position: relative;
	width: auto;
	box-sizing: border-box;
	margin: auto 0;
}
div.nfrLast label
{
	display: flex;
	flex-direction: row;
	color: var(--colorBlack1);
	transition: var(--colorTransition1);
}
div.nfrLast label img
{
	margin: auto;
	width: var(--profilImgNav);
	background-color: var(--colorWhite1);
	height: var(--profilImgNav);
	border-radius: 100%;
	object-fit: cover;
}
div.nfrLast label p
{
	margin: auto 5px;
}
div.nfrLast label i
{
	font-size: calc(var(--textSize) * 1.2);
	transition: transform 0.2s linear;
}
div.nfrLast label:hover
{
	/*color: var(--colorPrincipal);*/
}
#nfrlCheckAuth:checked ~ div.nfrLast ul
{
	height: auto;
	max-height: 200px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#nfrlCheckAuth:checked ~ div.nfrLast label i
{
	transform: rotate(-180deg);
}
div.nfrLast ul
{
	z-index: 2000;
	transition: max-height 0.5s var(--animationEase);
	position: absolute;
	top: 120%;
	right: 0;
	height: 0;
	overflow-y: hidden;
	max-height: 0;
	background-color: var(--colorWhite1);
}
div.nfrLast ul li
{
	padding: 10px 15px;
}
div.nfrLast ul li a
{
	display: flex;
}


div.navSecondRow
{
	z-index: 1000;
	width: 100%;
	margin: auto;
	transition: all 0.3s ease-in-out;
	display: flex;
	height: var(--navHeight);
	font-family: 'Poppins-Regular';
	justify-content: space-between;
	position: relative;
	/*background-color: var(--colorScLow1);*/
}
.fixed
{
	background-color: white !important;
	position: fixed !important;
	top: 0;
	height: calc(var(--navHeight) - 40) !important;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
div.nsrLogo
{
	display: flex;
}
div.nsrLogo img
{
	width: calc(var(--textSize) * 6);
	object-fit: contain;
}


input[type="checkbox"]
{
	display: none;
}


div.nsrPcLink
{
	display: flex;
	align-items: center;
	height: 100%;
}
div.nsrPcLink a
{
	color: var(--colorBlack1);
}
div.nsrPcLink ul
{
	display: flex;
	height: 100%;
}
div.nsrPcLink > ul > li
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: auto 20px;
	padding: 0 40px;
	height: 100%;
	transition: all 0.5s ease;
}
div.nsrPcLink > ul > li:hover
{
	background-color: var(--colorPrincipal);
	color: var(--colorWhite1);
}
div.nsrPcLink > ul > li:hover > ul
{
	display: flex;
	flex-wrap: wrap;
	/*flex-direction: column;*/
}
div.nsrPcLink > ul > li label
{
	width: 100%;
}
div.nsrPcLink > ul > li > ul
{
	width: 200%;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
	display: none;
	text-align: center;
	transition: all 0.5s ease;
	height: initial;
	background-color: var(--colorWhite1);
}
div.nsrPcLink > ul > li:last-child > ul
{
	width: 400%;
	flex-direction: row;
	height: 80vh;
	overflow-y: auto;
}
div.nsrPcLink > ul > li:last-child ul li:hover
{
	background-color: none;
}
div.nsrPcLink > ul > li:last-child > ul li
{
	margin: 0 auto;
	width: 45%;
	display: flex;
	flex-direction: column;
	transition: all 0.5s ease;
}
div.nsrPcLink > ul > li > ul li
{
	margin: 5px 0;
	width: 100%;
	padding: 10px 0;
}
div.nsrPcLink > ul > li > ul > li:hover
{
	background-color: var(--colorPrincipal);
}
div.nsrPcLink > ul > li > ul > li:hover a
{
	color: var(--colorWhite1);

}
div.nsrPcLink > ul > li > ul li ul
{
	display: flex;
	flex-wrap: wrap;
}
div.nsrPcLink > ul > li > ul li ul
{
	width: 100%;
	display: flex;
	flex-direction: column;
}
div.nsrPcLink > ul > li > ul li p
{
	background-color: var(--colorPrincipal);
	color: var(--colorWhite1) !important;
}
div.nsrPcLink > ul > li > ul li ul li
{
	width: 90% !important;
	margin: 0 auto;
}
div.nsrPcLink > ul > li > ul li ul li a
{
	display: flex;
}
div.nsrPcLink > ul > li > ul li ul li a i
{
	margin-right: 10px;
}




div.nsrAction
{
	display: flex;
	flex-direction: row;
}
/*Div authentification sur mobile*/
div.nsrPhoneAuth
{
	display: none;
}

/**/
div.nsrAction label
{
	margin: auto;
	text-align: center;
	font-size: calc(var(--textSize) * 1.2);
}

/*Sidebar Accueil sur pc*/
label.nsrMenu
{
	margin: auto;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 text-align: center;
	 cursor: pointer;
	 position: relative;
	 transition: var(--bgTransition1);
}

/*Les notif*/
#nsrCheckNotice:checked ~ div.nsrNotice div#noticeModalResult
{
	display: flex;
}
.noticeModalBody
{
	width: var(--modalResponsive);
	border-radius: 20px;
}
.noticeList
{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding-top: 30px;
	background-color: var(--colorWhite1);
	height: 60vh;
	overflow-y: auto;
	overflow-x: hidden;
}
.noticeList h3
{
	text-align: center;
}
ul.noticeListUl
{
	width: 98%;
	margin: 10px auto;
}
ul.noticeListUl li
{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin: 10px auto;
}
ul.noticeListUl li img
{
	height: calc(var(--inputHeight) * 1.5);
	width: calc(var(--inputHeight) * 1.5);
	border-radius: calc(var(--inputHeight) * 1.5);
	margin: 0 auto 0 0;
}
ul.noticeListUl li a
{
	color: var(--colorBlack1);
	width: 65%;
	margin: 0 auto;
	font-size: calc(var(--textSize) * 0.8);
}
ul.noticeListUl li p
{
	background-color: var(--colorPrLow1);
	height: calc(var(--inputHeight) * 1.2) !important;
	width: calc(var(--inputHeight) * 1.2) !important;
	border-radius: 10px;
	display: flex;
	align-items: center;
	color: var(--colorWhite1);
	justify-content: center;
	margin: 0 auto;
	font-size: calc(var(--textSize) * 1.5);
}
/*La didebar*/
label.nsrMenu:hover
{
	 background-color: var(--colorWhite2);
}
#nsrCheckMenu:checked ~ ul.nsrLink
{
	display: flex;
}
#nsrCheckMenu:checked ~ .nsrHamburger1
{
	transform: rotate(45deg);
	margin-bottom: 0px;
}
#nsrCheckMenu:checked ~ .nsrHamburger2
{
	transform: rotate(135deg);
	margin-top: 0;
}

.nsrHamburger1
{
	height: 3px;
	width: 30px;
	background-color: var(--colorBlack3);
	position: relative;
	transform: rotate(0deg);
	transition: transform 0.5s ease;
	margin-bottom: 5px;
	/*margin: auto auto 5px auto;*/
}
.nsrHamburger2
{
	/*margin: 5px auto auto auto;*/
	height: 3px;
	width: 30px;
	background-color: var(--colorBlack3);
	position: absolute;
	transition: transform 0.5s ease;
	margin-top: 10px;
	transform: rotate(0deg);
}

#nsrCheckMenu:checked ~ .nsrLink
{
	right: 0%;
}
div.nsrLink
{
	z-index: 999999;
	position: fixed;
	display: flex;
	overflow-y: auto;
	overflow-x: hidden;
	flex-direction: column;
	transition: right 0.5s var(--animationEase);
	right: -100%;
	width: 250px;
	height: 100vh;
	bottom: 0;
	background-color: var(--colorWhite1);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
div.nsrClose
{
	width: 100%;
	/*color: var(--colorPrincipal);*/
	text-align: right;
	background-color: var(--colorSecond);
}
div.nsrClose label
{
	float: right;
	font-size: calc(var(--textSize) * 2);
}
div.nsrClose label:hover
{
	background-color: inherit;
}
div.nsrUserConnected
{
	background-color: var(--colorSecond);
	width: 100%;
	text-align: center;
}
div.nsrUserConnected img
{
	width: 60px;
	height: 60px;
	border-radius: 60px;
}

#nsrCheckMenuProfil:checked ~ div.nsrNavigation ul li:nth-child(2) ul
{
	height: auto;
	max-height: 160px;
}
#nsrCheckMenuProduct:checked ~ div.nsrNavigation ul li:nth-child(3) ul
{
	height: auto;
	max-height: 160px;
}
#nsrCheckMenuService:checked ~ div.nsrNavigation ul li:nth-child(4) ul
{
	height: auto;
	max-height: 160px;
}
div.nsrTitle 
{
	width: 100%;
	text-align: center;
	padding: 15px 0;
	background-color: var(--colorSecond);
}
div.nsrTitle p
{
	padding: 10px 0;
	background-color: var(--colorScLow2);
	font-size: calc(var(--textSize) * 1.5);
}
div.nsrNavigation ul
{
	width: 90%;
	margin: auto;
	text-align: left;
}
div.nsrNavigation ul  li
{
	width: 100%;
	margin: 20px auto;
}
div.nsrNavigation ul  li
{
	width: 100%;
	margin: 20px auto;
}
div.nsrNavigation ul  li:first-child label a,div.nsrNavigation ul  li:last-child label a
{
	display: flex;
}
div.nsrNavigation ul  label
{
	font-size: calc(var(--textSize) + 5px);
	display: flex;
	width: 100%;
}
div.nsrNavigation ul  label i
{
	margin-right: 10px;
}
div.nsrNavigation ul li > ul
{
	transition: max-height 0.5s var(--animationEase);
	width: 95%;
	margin: auto;
	height: 0;
	max-height: 0;
	overflow-y: hidden;
	/*background-color: var(--colorPrincipal);*/
}
div.nsrNavigation ul li > ul li
{
	box-sizing: border-box;
	width: 100%;
	font-size: var(--textSize);
	margin: 0 auto;
	padding: 10px 12px;
}

li#nsrLogout
{
	background-color: var(--colorBlack2);
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 5px 0;
}
li#nsrLogout a
{
	color: var(--colorWhite3);
}

div.nsrLink a
{
	color: var(--colorBlack1);
}
div.nsrLink a:hover
{
	/*color: var(--yellowColor1);*/
	transition: 0.2s ease;
}




div.nsrSearch
{
	width: 100%;
	padding: 10px 0;
	margin-bottom: 20px;
	background-color: var(--colorPrincipal);
}
form.navSearchForm
{
	z-index: 999;
	width: 80%;
	display: flex;
	flex-direction: row;
	margin: auto;
}
form.navSearchForm input
{
	color: var(--colorWhite3);
	height: calc(var(--inputHeight) + 10px);
	padding-left: 10px;
}
form.navSearchForm div:nth-child(1)
{
	width: 20%;
	position: relative;
}
form.navSearchForm div:nth-child(1) input
{
	width: 100%;
	border-right: solid 1px var(--colorWhite2);
}
form.navSearchForm input:nth-child(2)
{
	width: 70%;
}
form.navSearchForm button
{
	background-color: var(--colorWhite1);
	padding: 0 10px 0 0;
	margin: auto 0;
	color: var(--colorBlack1);
	height: calc(var(--inputHeight) + 10px);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0px 50px 50px 0px;
	font-size: calc(var(--textSize) + 10px);
}



.nsrLinkActive
{
	color: var(--colorPrincipal);
}







.scTypes, .scCategories, .scSubCategories, .scLivraisons,
 .scSexes, .scStatus, .scCitys, .scLoves, .scDates, .scTypeSearch
{
	opacity: 0;
	transition: opacity 0.5s ease;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	position: absolute;
	width: 100%;
	max-height: 200px;
	overflow-y: auto;
	left: 0;
	right: 0;
	top: 105%;
	display: none;
	flex-direction: column;
	z-index: 1000;
	text-align: justify;
}
.scTypes li, .scCategories li, .scSubCategories li, .scLivraisons li,
 .scSexes li, .scStatus li, .scCitys li,.scLoves li,.scDates li,.scTypeSearch li
{
	background-color: var(--colorWhite1);
	height: var(--inputHeight);
	line-height: var(--inputHeight);
	padding: 0px 5px;
	font-size: var(--textSize);
	cursor: pointer;
	transition: background-color 0.2s ease;
}
.scTypes li:hover, .scCategories li:hover, .scSubCategories li:hover, .scLivraisons li:hover,
 .scSexes li:hover, .scStatus li:hover, .scCitys li:hover,.scLoves li:hover,.scDates li:hover,.scTypeSearch li:hover
{
	background-color: var(--colorPrLow3);
}

form#formFinaliseInscription ul
{
	background-color: var(--colorBlack1);
}
form#formFinaliseInscription ul li
{
	color: var(--colorPrincipal);
}




div.notFound
{
	width: 100%;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}
div.notFound img
{
	object-fit: contain;
	height: 200px;
}
div.commentNotFound
{
	text-align: left;
}







#modalChoiceServicePost/*,#modalChoiceProductPost*/
{
	/*display: flex;*/
}



/*Bounton poster article*/
.postArticle
{
	z-index: 999;
	background-color: var(--colorPrincipal);
	height: 50px;
	display: flex;

	border-radius: 50px;
	position: fixed;
	bottom: 10px;
	right: 2%;
	transform: scale(1);
	animation: myPulse 2s infinite;
	padding: 0 10px;
}
.postArticle a span:first-child
{
	margin: auto;
	font-size: calc(var(--textSize) + 15px);
	color: var(--colorWhite1);
	padding: 0 !important;
	margin: 0 !important;
}
.postArticle a span:last-child
{
	margin: auto 0 auto 5px;
}
.postArticle a
{
	display: flex;
	align-items: center;
	color: var(--whiteColor1);
}
/*Footer*/
footer
{
	/*margin-top: 400px;*/
	width: 100%;
	overflow: hidden;
	background-color: var(--colorSecond);
	color: var(--colorWhite3);
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 80px 0;
}
footer a
{
	color: var(--colorWhite4);
	transition: var(--bgTransition1);
	font-size: var(--textSize);
}
footer a:hover
{
	color: var(--colorPrincipal);
}
footer .footSectionTitle
{
	margin-bottom: 10px;
	font-size: var(--titleTextSize);
	color: var(--colorWhite1);
}
footer .footLogoSocial
{
	width: 20%;
	margin: 0 auto;
}
footer .footLogoSocial img
{
	height: 50px;
	object-fit: cover;
}
div.footLogoSocial span
{
	font-size: 60px;
}
div.footLogoSocial .flsSocialLink
{
	display: flex;
	flex-direction: column;
	text-align: justify;
}
div.flsSocialLink a
{
	display: flex;
}
div.flsslIcon 
{
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	width: 100%;
}
div.flsslIcon a
{
	text-align: center;
	margin: auto 10px;
	width: var(--radiusCircle2);
	height: var(--radiusCircle2);;
	border-radius: var(--radiusCircle2);;
	line-height: var(--radiusCircle2);;
	background-color: var(--colorPrincipal);
	color: var(--colorBlack1);
}
footer .footHelpService
{
	width: 20%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
footer .footUtilityLink
{
	width: 20%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
footer .footLegalInfo
{
	width: 20%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
footer .footCopy
{
	margin-top: 20px;
	margin: auto;
	text-align: center;
	width: 80%;
}
.footBars
{
	margin: 20px auto;
	width: 90%;
	border-color: var(--colorPrincipal);
}
div.bottomBanner
{	
	display: none;
}
div.bottomBanner
{	
	display: none;
}
