@font-face
{
	font-family: 'Poppins-Medium';
	src: url('../fonts/Poppins-Medium.ttf');
	font-weight: bold;
	font-style: normal;
}
@font-face
{
	font-family: 'Poppins-Regular';
	src: url('../fonts/Poppins-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

:root
{
	--navHeight:  140px;
	--textSize: calc(0.75em + 1vmin);
	
	--modalFormBg: white;
	--colorWhite1: white;
	--colorWhite2: #e4e4e7;
	--colorWhite3: #cacace;
	--colorWhite4: #afafb6;

	--colorOverlay1: rgba(12,12,13,0.7);
	--colorOverlay2: rgba(12,12,13,0.4);

	--colorBlack1: #323234;
	--colorBlack2: #1c1c1d;
	--colorBlack3: #151516;
	--colorBlack4: #0c0c0d;

	--colorPrincipal: #ffc423;
	--rgbPrincipal:  rgb(247, 148, 29);

	--colorPrLow1: #c79400;
	--colorPrLow2: #fff75d;
	--colorPrLow3: #fff6db;

	--colorSecond: #0f3048;
	--colorScLow1: #000621;
	--colorScLow2: #3d5974;

	--errorColor: #FF3C38;
	--successColor: #06D6A0;

	--quartResponsive: 20%;
	--modalResponsive: 30%;

	--textColor1: white;
	--textColor2: #333333;

	--animationEase: cubic-bezier(.75,.04,.0,.86);

	--bgTransition: background-color 0.8s ease-in-out;

	--colorTransition: color 0.4s ease-in-out;

	--inputHeight:  50px;
	--btnHeight:  45px;

	--bgElement: #f4f7f9;

	--myFont1: 'Poppins-Regular';

	--profilImgNav: calc(var(--textSize) * 2);
	--radiusCircle : 50px;

}

/*Pour les icone de recherche ,menu ou Authentification*/
.iconOverlay
{
	width: 60px;
	height: 60px;
	border-radius: 60px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--bgTransition);
}
.iconOverlay:hover
{
	background-color: #f2F2F2;
}

/*Pour les lien survoler ou cliquer*/
.hoveredLink
{
	color: var(--colorBlack1);
	transition: var(--colorTransition);
}
.hoveredLink:hover
{
	color: var(--colorPrincipal);
}
html,body
{
	padding: 0;
	margin: 0;
}
ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a
{
	text-decoration: none;
	font-family: 'Poppins-Regular';
	color: var(--colorBlack1);
}
label	
{
	cursor: pointer;
}
i
{
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}
input,select
{
	font-family: 'Poppins-Regular';
	border: none;
	padding: 0 var(--inputPadding);
	height: var(--inputHeight);
	box-sizing: border-box;
	font-size: var(--textSize);
}
input:focus,textarea:focus
{
	outline:none!important;
}
textarea
{
	font-family: 'Poppins-Regular';
	border: none;
	padding: 0 var(--inputPadding);
	box-sizing: border-box;
	font-size: var(--textSize);
	height: var(--inputHeight);
}
span.inputInfo
{
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	height: var(--inputHeight);
	width: 10%;
	font-size: var(--iconSize);
	color: var(--colorPrincipal);
}
button
{
	background-color: var(--colorPrincipal);
	font-family: 'Poppins-Regular';
	padding: 0 35px;
	height: var(--btnHeight);
	border: 0;
	cursor: pointer;
	font-size: var(--textSize);
	box-sizing: border-box;
	/*box-shadow: var(--rgbPrincipal1) 0px 0px 0px 3px, var(--rgbPrincipal2) 0px 0px 0px 6px;*/
}
button.sNav
{
	padding: inherit;
	position: absolute;
	background-color: var(--colorPrincipal) ;
	width: var(--inputHeight) !important;
	height: var(--inputHeight) !important;
	border-radius: var(--inputHeight) !important;;
	color: var(--colorWhite1);
	cursor: pointer;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 9999999;
}
button.sNav i
{
	font-size: 25px;
}
.snNext
{
	left: 0 !important;
}
.snPrev
{
	left: 100% !important;
	right: 0 !important;
	/*background-color: yellow !important;*/
}
input[type="number"]
{
	cursor: pointer;
}
body
{
	/*background-color: #f9f906;*/
	animation: pageFade 2s 1;
	-webkit-animation: pageFade 2s 1; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: pageFade 2s 1; /* Firefox < 16 */
        -ms-animation: pageFade 2s 1; /* Internet Explorer */
         -o-animation: pageFade 2s 1; /* Opera < 12.1 */
            animation: pageFade 2s 1;
}
p,h1,h2,h3
{
	margin: 0;
}
.logoMinImg,.logoImg
{
	width: 100px;
}
nav.navbar
{
	width: 100%;
	display: flex;
	flex-direction: column;
}
div.navFirstRow
{
	width: 100%;
	height: calc(var(--navHeight) / 2);
	border-bottom: solid 1px var(--colorWhite2);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: var(--myFont1);
	background-color: var(--colorPrincipal);
}
i.navIcon
{
	/*color: var(--colorWhite3);*/
	margin-right: 5px;
}
div.navFirstRow select
{
	margin: auto 10px;
}
div.nfrFirst
{
	display: flex;
	flex-direction: row;
	margin-left: 10px;
}
div.nfrFirst a
{
	color: var(--colorBlack1);
	transition: var(--colorTransition1);
}
div.nfrFirst span
{
	margin: 0 10px;
}
div.nfrLast
{
	display: flex;
	flex-direction: row;
	margin-right: 10px;
}
div.nfrLast span
{
	margin: 0 10px;
}
div.nfrLast a
{
	color: var(--colorBlack1);
	transition: var(--colorTransition1);
}
div.nfrLast a:hover
{
	color: var(--colorWhite1);
}


div.navSecondRow
{
	z-index: 1000;
	width: 98%;
	margin: auto;
	/*background-color:  var(--whiteColor1);*/
	display: flex;
	padding: 20px 0px;
	font-family: 'Poppins-Regular';
	justify-content: space-between;
	position: relative;
}

div.nsrLogo
{
	display: flex;
}
div.nsrLogo img
{
	width: 100px;
	object-fit: contain;
}


input[type="checkbox"]
{
	display: none;
}
div.nsrAction
{
	display: flex;
	flex-direction: row;
	/*position: relative;*/
}

div.nsrSearch
{
	
}
#nsrCheckNavSearch:checked ~ div.nsrSearch .navSearchForm
{
	height: 50px;
}
form.navSearchForm
{
	z-index: 999;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: var(--colorWhite1);
	transition: height 0.5s ease;
	width: 350px;
	overflow: hidden;
	height: 0px;
	line-height: 100px;
	position: absolute;
	top: 80%;
	right: 0%;
	display: flex;
	justify-content: center;
}
form.navSearchForm input
{
	width: 70%;
	height: 70%;
	/*padding: 5px 0;*/
	margin: auto 0;
	font-size: 20px;
	/*border-right: solid 1px var(--colorWhite4);*/
	background-color: var(--colorWhite1);
	color: var(--colorWhite3);
}
form.navSearchForm button
{
	width: 25%;
	height: 70%;
	background-color: ;
	margin: auto 0;
	padding: 0 15px;
	font-size: 20px;
	background-color: var(--colorPrincipal);
	color: var(--colorWhite3);
}
form.navSearchForm label
{	
	margin: auto 0;
	color: var(--colorWhite4);
	font-size: 30px;
	cursor: pointer;
	line-height: 60px;
	text-align: center;
	transition: var(--bgTransition1)
}
form.navSearchForm label:hover
{	
	background-color: var(--colorBlack3);
}

/*Div authentification sur mobile*/
div.nsrPhoneAuth
{
	display: none;
}

/**/
div.nsrAction label
{
	margin: auto;
	font-size: 25px;
	text-align: center;
}

/*Sidebar Accueil sur pc*/
label.nsrMenu
{
	margin: auto;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 text-align: center;
	 cursor: pointer;
	 position: relative;
	 transition: var(--bgTransition1);
}
label.nsrMenu:hover
{
	 background-color: var(--colorWhite2);
}

#nsrCheckMenu:checked ~ ul.nsrLink
{
	display: flex;
}
#nsrCheckMenu:checked ~ .nsrHamburger1
{
	transform: rotate(45deg);
	margin-bottom: 0px;
}
#nsrCheckMenu:checked ~ .nsrHamburger2
{
	transform: rotate(135deg);
	margin-top: 0;
}

.nsrHamburger1
{
	height: 3px;
	width: 30px;
	background-color: var(--colorBlack3);
	position: relative;
	transform: rotate(0deg);
	transition: transform 0.5s ease;
	margin-bottom: 5px;
	/*margin: auto auto 5px auto;*/
}
.nsrHamburger2
{
	/*margin: 5px auto auto auto;*/
	height: 3px;
	width: 30px;
	background-color: var(--colorBlack3);
	position: absolute;
	transition: transform 0.5s ease;
	margin-top: 10px;
	transform: rotate(0deg);
}

#nsrCheckMenu:checked ~ .nsrLink
{
	right: 0%;
}
div.nsrLink
{
	line-height: initial;
	position: fixed;
	display: flex;
	overflow-y: auto;
	overflow-x: hidden;
	flex-direction: column;
	transition: right 0.5s var(--animationEase);
	right: -100%;
	width: 30%;
	height: 100vh;
	bottom: 0;
	background-color: var(--colorWhite1);
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
div.nsrLink hr
{
	width: 80%;
}
div.nsrClose
{
	width: 90%;
	margin: 20px auto;
	text-align: right;
	color: var(--colorPrincipal);
}
div.nsrClose label
{
	float: right;
	font-size: 30px;
}
div.nsrTitle
{
	/*margin: auto;*/
}
div.nsrTitle img
{
	/*margin: auto;*/
}
div.nsrTitle p
{
	font-size: 15px;
}
div.nsrLink ul
{
	font-size: 20px;
}
div.nsrLink ul li:last-child div
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}
div.nsrLink ul li:last-child div p
{
	margin: auto 4%;
	width: 40px;
	background-color: var(--colorPrincipal);
}
div.nsrLink a
{
	color: var(--colorBlack1);
}
div.nsrLink a:hover
{
	/*color: var(--yellowColor1);*/
	transition: 0.2s ease;
}
.nsrLinkActive
{
	color: var(--colorPrincipal);
}


.scTypes, .scCategories, .scSubCategories, .scLivraisons,
 .scSexes, .scStatus, .scCitys, .scLoves, .scDates, .scTypeSearch
{
	opacity: 0;
	transition: opacity 0.5s ease;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	position: absolute;
	width: 100%;
	max-height: 200px;
	overflow-y: auto;
	left: 0;
	right: 0;
	top: 105%;
	display: none;
	flex-direction: column;
	z-index: 1000;
	text-align: justify;
}
.scTypes li, .scCategories li, .scSubCategories li, .scLivraisons li,
 .scSexes li, .scStatus li, .scCitys li,.scLoves li,.scDates li,.scTypeSearch li
{
	background-color: var(--colorWhite1);
	height: var(--inputHeight);
	line-height: var(--inputHeight);
	padding: 0px 5px;
	font-size: var(--textSize);
	cursor: pointer;
	transition: all 0.2s ease;
}
.scTypes li:hover, .scCategories li:hover, .scSubCategories li:hover, .scLivraisons li:hover,
 .scSexes li:hover, .scStatus li:hover, .scCitys li:hover,.scLoves li:hover,.scDates li:hover,.scTypeSearch li:hover
{
	background-color: var(--colorPrincipal);
	color: var(--colorWhite1);
}


/*Bounton poster article*/
.postArticle
{
	z-index: 999;
	background-color: var(--colorPrincipal);
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 25px;
	position: fixed;
	bottom: 10px;
	right: 2%;
	transform: scale(1);
	animation: myPulse 2s infinite;
}
.postArticle a
{
	color: var(--whiteColor1);
	margin: 0 20px;
}


/*Footer*/
footer
{
	/*margin-top: 400px;*/
	width: 100%;
	overflow: hidden;
	background-color: var(--colorBlue1);
	color: var(--colorWhite3);
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 80px 0;
}
footer a
{
	color: var(--colorWhite4);
	transition: var(--bgTransition1);
	font-size: var(--textSize);
}
footer a:hover
{
	color: var(--colorPrincipal);
}
footer .footSectionTitle
{
	margin-bottom: 10px;
	font-size: var(--titleTextSize);
	color: var(--colorWhite1);
}
footer .footLogoSocial
{
	width: 20%;
	margin: 0 auto;
}
footer .footLogoSocial img
{
	height: 50px;
	object-fit: cover;
}
div.footLogoSocial span
{
	font-size: 60px;
}
div.footLogoSocial .flsSocialLink
{
	display: flex;
	flex-direction: column;
	text-align: justify;
}
div.flsSocialLink a
{
	
}
div.flsslIcon 
{
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	width: 100%;
}
div.flsslIcon a
{
	text-align: center;
	margin: auto 10px;
	width: var(--radiusCircle2);
	height: var(--radiusCircle2);;
	border-radius: var(--radiusCircle2);;
	line-height: var(--radiusCircle2);;
	background-color: var(--colorPrincipal);
	color: var(--colorBlack1);
}
footer .footHelpService
{
	width: 20%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
footer .footUtilityLink
{
	width: 20%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
footer .footLegalInfo
{
	width: 20%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
footer .footCopy
{
	margin-top: 20px;
	margin: auto;
	text-align: center;
	width: 80%;
}
.footBars
{
	margin: 20px auto;
	width: 90%;
	border-color: var(--colorPrincipal);
}
div.bottomBanner
{	
	display: none;
}