html,body
{
	margin: 0;
	padding: 0;
}

div.mapB
{
	margin: auto;
	width: 500px;
	height: 995px;
	position: relative;
}
area:hover
{
	background-color: red !important;
}
div.mapOverlay
{
	width: 500px;
	height: 995px;
	position: absolute;
	/*top: 0;*/
	/*bottom: 0;*/
	background-size: 5%;
	background: url('../sprBn.png') left top no-repeat;
}